*{
    font-family: 'Montserrat', sans-serif;
}

body {
    align-items: center;
    background-color: #01b592;
    color: #1f2c5b;
}

img {
    display: block;
    max-height: 30vh;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3rem;
    margin: 0 auto;
    width: fit-content;
    font-weight: 700;
    margin-top: 5%;
}

hr{
    color: #1f2c5b
}



h3 {
    font-size: 2rem;
    margin: 20px 0;
    font-weight: 400;
}

#generate {
    margin: 3rem auto;
    display: block;
    font-size: 1.25rem;
    min-width: 150px;
    padding: 5px 15px;
    border-radius: 10px;
    color:#1f2c5b;
    border-color: #1f2c5b;
    background-color: #01b592;
}

#next {
    margin: 3rem auto;
    display: block;
    font-size: 1.25rem;
    display: none;
    min-width: 150px;
    padding: 5px 15px;
    border-radius: 10px;
    color:#1f2c5b;
    border-color: #1f2c5b;
    background-color: #01b592;
}


.top {
    text-align: center;
    max-height: 20%;
    margin: 0;
}

.bottom {
    margin-top: -3%;
}

.right-list{
    display: none;
    width: 30%;
    margin-left: 10%;
    text-align: center;
    vertical-align: top;
}

.left-list{
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    visibility: hidden;
}