*{
    font-family: 'Montserrat', sans-serif;
}

body {
    align-items: center;
    background-color: #14ddb1;
    color: #0d1328;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin: 0 auto;
    width: fit-content;
    font-weight: 700;
    margin-top: 5%;
}

hr{
    color: #0d1328
}

.list{
    display: none;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

h3 {
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}

#generate {
    margin: 3rem auto;
    display: block;
    font-size: 1.25rem;
    min-width: 150px;
    padding: 5px 15px;
    border-radius: 10px;
    color:#0d1328;
    border-color: #0d1328;
    background-color: #14ddb1;
}

#next {
    margin: 3rem auto;
    display: block;
    font-size: 1.25rem;
    display: none;
    min-width: 150px;
    padding: 5px 15px;
    border-radius: 10px;
    color:#0d1328;
    border-color: #0d1328;
    background-color: #14ddb1;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex: 1 1 auto;
}

.left {
    flex: 1;
    margin-right: 20px;
    align-items: center;
    flex-basis: 35px;
}

.right {
    flex: 1;
    flex-basis: 60px;
}